EXE/
MAC/
Library/
obj/
Temp/
APK/
EpochEscape/ProjectSettings/EditorBuildSettings.asset

*.csproj
*.sln
*.userprefs
*.suo
*.unityproj
*.db
*.sublime-project
*.sublime-workspace
*.booproj
*.log
*.DS_Store
